<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>React Start Kit</title>
	<link rel="stylesheet" href="./builds/common.css">
	<% if(isProd){ %>
		<link rel="stylesheet" href="./builds/app.css">
	<% } %>
</head>
<body class="sidebar-mini skin-blue sidebar-collapse">
	<div id="root">
		Root Content
	</div>
	<script src="./builds/vendor.bundle.js"></script>
	<script src="./builds/bundle.js"></script>
</body>
</html>
